nav ul{
    display: flex;
    list-style: none;
    gap: 20px;
    padding: 15px;
    margin: 10px;
}

.navbar{
    background-color: cadetblue;
    
}

.searchButton{
    display: flex;
    gap: 20px;
    padding: 15px;
    justify-content: right;

}